.body-class {
  background-color: black;
}

.navbar {
  background-color: darkgray;
  overflow: hidden;
  height: 70px;
  margin-right: 20px;
  margin-left: 20px;
}

.nav-list {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-just-nav-item {
  margin-right: auto; /* Pushes the item to the left */
  color: black;
  display: block;
  font-size: 30px;
  font-weight: bold;
}

.nav-item {
  margin: 0 0px;
}

.active-nav-item {
  color: black;
  border-bottom: 1px solid black;
}

.nav-link {
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
}

.nav-link:hover {
  background-color: gray; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

.main-text {
  text-align: center;
  color: white;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 250px 1fr;

  text-align: left;
  color: white;
  font-size: 20px;
  margin: 20px;
  
}

.main-content-image {
  grid-area: 1 / 2 / 2 / 3;
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 15px;
}

.main-top-text{
  grid-area: 1 / 1 / 2 / 2;
  margin-right: 15px;
}

.main-bottom-text {
  grid-area: 2 / 1 / 3 / 3;
  margin-right: 15px;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 175px 1fr;

  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 20px;
  padding: 15px;
  border-bottom: 1px solid white;
  overflow: hidden;
}

.about-section-heading {
  margin-right: 15px;
}

.about-section-image {
  width: 200px;
  height: 150px;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-top: 10px;
  grid-area: 1 / 2 / 2 / 3;
}

.about-section-text {
  display: block;
  margin-left: 15px;
}
.about-section-top-text{
  grid-area: 1 / 1 / 2 / 2;
}

.about-section-bottom-text {
  grid-area: 2 / 1 / 3 / 3;
}

.copy-right-text {
  display: flex;
  align-items: center; /* Vertically centers the text */
  justify-content: center; /* Horizontally centers the text */
  text-align: center;
  background-color: darkgray;
  padding: 10px;
  height: 40px;
}

.portfolio-section {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 75px 1fr;

  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 15px; 
  
  /* border-bottom: 1px solid white; */
  overflow: hidden;
  background-color: darkgray;
}

.portfolio-section-heading {
  margin-right: 15px;
  margin-left: 20px;
  font-size: 25px;
  grid-area: 1 / 1 / 2 / 2;
}

.portfolio-section-image {
  /* display: grid; */
  width: 200px;
  height: 150px;
  /* float: left; */
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-top: 10px;
  grid-area:  2 / 1 / 3 / 2;
}

.portfolio-text-right-of-image{
  /* display: grid; */
  grid-area: 1 / 2 / 3 / 3;
}

.portfolio-section-text {
  /* display: block; */
  margin-left: 15px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  margin-bottom: 5px;
}

input, textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: darkgray;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}

.success-text{
  color: white;
  font-size: 50px;
  text-align: center;

}

@media  (min-width: 769px) and (max-width: 1024px) {

  .main-content{
    grid-template-rows: 420px 1fr;
}

@media (min-width : 480px) and (max-width: 768px) {
  .main-content{
    grid-template-rows: 450px 1fr;
    grid-template-columns: 1fr 200px;
  }

  .main-content-image {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 479px) {
}