.body-class {
  background-color: black;
}

.navbar {
  background-color: darkgray;
  overflow: hidden;
  height: 70px;
  margin-right: 20px;
  margin-left: 20px;
}

.nav-list {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-just-nav-item {
  margin-right: auto; /* Pushes the item to the left */
  color: black;
  display: block;
  font-size: 30px;
  font-weight: bold;
}

.nav-item {
  margin: 0 0px;
}

.active-nav-item {
  color: black;
  border-bottom: 1px solid black;
}

.nav-link {
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
}

.main-text {
  text-align: center;
  color: white;
}

.main-content {
  display: block;
  text-align: left;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.main-content-image {
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 15px;
}

.about-section {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 20px;
  padding: 15px;
  border-bottom: 1px solid white;
  overflow: hidden;
}

.about-section-heading {
  margin-right: 15px;
}

.about-section-image {
  width: 200px;
  height: 150px;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.about-section-text {
  display: block;
  margin-left: 15px;
}

.copy-right-text {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-section {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 15px;
  /* height: 100px; */
  /* border-bottom: 1px solid white; */
  overflow: hidden;
  background-color: darkgray;
}

.portfolio-section-heading {
  margin-right: 15px;
  font-size: 25px;
}

.portfolio-section-image {
  width: 200px;
  height: 150px;
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.portfolio-section-text {
  display: block;
  margin-left: 15px;
}